*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dis{
    display: block;
}

html{
    overflow-x: hidden;
    font-family: 'Arimo', sans-serif;
}
.logo{
    font-weight: bold;
}
.bar{
    background-color: purple;
    height: 3px;
    width: 30px;
    margin: 6px;
}
/*start of nav/header*/
.nav--show{
    display: block;
}
nav img{
    display:;
}
nav ul{
    list-style-type: none;
    display: none;
}
nav ul a{
    display: block;
    padding: 20px;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
    color: purple;
    transition: all 1s ease;
    position: relative;
}
nav ul a::before{
    content: "";
    background-color: rebeccapurple;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0
    z-index: -10;
    transition: all 1s ease;
}
nav ul a:hover::before{
    width: 100%;
    height: 3px;
}
nav ul a:hover{
    padding-left: 25px;
    background: rgba(0,0,0,0);
    background: rgba(0,0,0,.2);
}

.nav-container{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.btn{
    padding: 4px;
    display: inline-block;
    align-self: center;
    border: 2px solid purple;
}
header{
    min-height: 100vh;
    background: url('img/bg.jpg')center center/cover no-repeat;
    display: flex;
    flex-direction: column;
    
}
nav{
    flex: 0 0 auto;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.banner{
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner h1{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 100;
    color: #ad34de;
    margin-bottom: 30px;
    animation: moveInleft 1s ease;
    animation-fill-mode: backwards;
}
@keyframes moveInleft {
    0% {
        transform: translatex(-100px);
        opacity: 0;
    }
    50% {
       opacity: 0;
    }
    100% {
        opacity:100%;
    }
}
#bannerLink{
    display: inline-block;
    width: 50%;
    font-size: 24px;
    
    color: #fff;
    background: rgba(0,0,0,0.3);
    padding:15px;
    border-radius: 25px;
    transition: all 1s ease;
    animation: moveInleft 1500ms ease;
    margin-bottom: 30px;
    
}
#bannerLink:hover{
    color:#fff;
    text-decoration: none;
    transform: scale(1.02);
}
#bannerLink:active{
    color: red;
}
.banner-icons{
    width: 50%;
    margin: 25px auto;
    font-size: 30px;
    animation: moveInleft 1s ease;
}
.banner-icons a{
    padding: 10px;
    color: mediumpurple;
    background: #000;
    border-radius: 15px;
    display: inline-block;
    transition: all 1s ease;
}
.banner-icons a:hover{
    color: aliceblue;
    transform: translateY(-10px);   
}
@media screen and (min-width:776px){
    .nav-container{
        display: none;
    }
    nav ul{
        display: flex!important;
        flex-wrap: wrap;
        justify-content: center;
    }
    .banner h1{
        margin-bottom: 30px;
    }
}

/*end of header*/


/*start of skills*/
.skills{
    min-height: 80vh;
    background: url('img/filler.jpg')center/cover fixed no-repeat;
    color: #fff;
    display: flex;
    align-items: center;
}
.skill{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 20px;
    padding: 25px;
    text-align: center;
    margin: 40px;
    background: rgba(0,0,0,0.3);
    border-radius: 25px;
    min-width: 200px;
}
.skill-icon{
    align-self: center;
    font-size: 60px;
    margin-right: 40px;
    padding: 20px;
    border: 2px solid white;
    border-radius: 50%;
}

.skill-text h3{
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: purple;
    font-weight: 100;
}
@media screen and (min-width:890px){
    .banner h1{
        margin-bottom: 30px;
    }
    .skills-center{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .skill{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }
    .skill-icon{
        width: auto;
        margin: 0 auto;
    }
}
@media screen and (min-width:1120px) {
    .skills-center{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .skill{
        justify-content: center;
    }
}

/*start of contact*/
#contact{
    min-height: 100vh;
    background: url('img/contact.jpg') center/cover fixed no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.contact-banner{
    background: rgba(0,0,0,0.3);
    max-width: 500px;
    border-radius: 25px;
    padding: 100px 0;
    text-align: center;
}
#contact-info img{
    height: 200px;
    width: 200px;
    border: 1px solid white;
    border-radius: 50%;
}
#contact-info h3{
    color: #fff;
    text-transform: uppercase;
    font-size: 32px;
    margin-bottom: 35px;
}
#contact-info p{
    line-height: 2;
    color: #fff;
    margin-bottom: 25px;
}
@media screen and (min-width:1120px) {
    .contact-banner{
        max-width: 720px;
        background: rgba(0,0,0,0.7);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
    }
    .contact-banner h3{
        padding: 15px;
    }
}
#contact-form{
    width: 300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}
#contact-form h2{
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 5px;
    
}
#contact-form form{
    display: flex;
    flex-direction: column;
}
#contact-form input{
    margin: 15px 0;
}
#contact-form input,
#contact-form textarea{
    padding: 5px;
    border: 2px solid purple;
}
#contact-form button{
    color: #fff;
    background-color: mediumpurple;
    padding: 15px;
    border-radius: 25px;
    margin-top: 20px;
    font-size: 22px;
    text-transform: uppercase;
    border: none;
    transition: all 1s ease;
}
#contact-form button:hover{
    background: #fff;
    color: rebeccapurple;
    font-weight: bold;
}